<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <title>Inicio</title>
</head>
<body class="bg-black min-h-screen flex flex-col">
    <header style="background-color: #11111F;" class="text-white py-2 h-16">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center space-x-8">
                <div class="flex items-end space-x-2">
                    <img src="{% static 'images/logo.png' %}" alt="TakosuAnime" class="h-12">
                </div>
                
                <a href="{% url 'anime_list' %}" class="text-white hover:text-yellow-400">Inicio</a>
                
                <div class="relative">
                    <button id="categoryToggle" class="text-white hover:text-yellow-400">
                        Explorar
                    </button>
                </div>
            </div>

            <div class="flex items-center space-x-4">
                <div class="flex items-center relative">
                    <a href="{% url 'search' %}" class="text-white h-10 w-10 flex items-center justify-center  hover:text-yellow-400">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </a>
                </div>


                <div class="relative">
                    {% if request.user.is_authenticated %}
                        <button id="profileMenuButton" class="inline-block focus:outline-none">
                            <img src="{{ user.icon.url }}" alt="{{ user.username }}" class="w-10 h-10 rounded-full object-cover" />
                        </button>

                        <div style="background-color: #11111F;" id="profileMenu" class="hidden absolute w-48 rounded-lg shadow-lg py-2 z-10">
                            <a href="{% url 'profile' user.id %}" class="block px-4 py-2 text-white hover:text-yellow-500">
                                Perfil
                            </a>
                            <form action="{% url 'logout' %}" method="post" class="block">
                                {% csrf_token %}
                                <button type="submit" class="w-full text-left px-4 py-2 text-white hover:text-yellow-500">
                                    Cerrar Sesión
                                </button>
                            </form>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="text-white py-2 px-4 rounded-md hover:text-yellow-500">Iniciar Sesión</a>
                        |
                        <a href="{% url 'signup' %}" class="text-white py-2 px-4 rounded-md hover:text-yellow-500">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main class="container mx-auto py-8 flex-grow">
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6">
            {% if animes %}
                {% for anime in animes %}
                <a href="{% url 'anime_detail' anime.title %}" class="w-[210px]">
                    <div class="shadow-md overflow-hidden">
                        <img src="{{ anime.image_card.url }}" alt="{{ anime.title }}" class="h-[300px] object-cover rounded-sm">
                        <div class="p-2">
                            <h2 class="text-sm font-bold text-center text-white">{{ anime.title }}</h2>
                            <p class="text-xs text-gray-200 text-center">{{ anime.total_episodes }} Episodios</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <div class="col-span-full  items-center justify-center text-center mt-8">
                    <h2 class="text-white text-xl font-semibold mb-2">No se encontraron resultados</h2>
                    <p class="text-gray-400">No hay animes que coincidan con "<strong>{{ search_value }}</strong>"</p>
                    <img src="{% static 'images/not_found.gif' %}" alt="No results" class="mx-auto mt-4 w-22">
                    <a href="{% url 'anime_list' %}" class="inline-block mt-4 text-yellow-400 hover:underline">Volver a ver todos</a>
                </div>
            {% endif %}
        </div>
    </main>

    <footer style="background-color: #11111F;" class="text-white py-8">
        <div class="container mx-auto flex flex-col md:flex-row md:gap-x-20 justify-center items-start text-sm pt-5">
            <div class="px-2">
                <span class="font-semibold text-base">Navegación</span>
                <div class="flex flex-col space-y-1 pt-2">
                    <a href="{% url 'anime_list' %}" class="hover:text-yellow-400">Inicio</a>
                    <a href="{% url 'anime_list' %}" class="hover:text-yellow-400">Explorar</a>
                    <a href="{%  url 'search' %}" class="hover:text-yellow-400">Buscar</a>
                </div>
            </div>

            <div class="px-2">
                <span class="font-semibold text-base">TakosuAnime</span>
                <div class="flex flex-col pt-2 space-y-1">
                    <a href="#" class="hover:text-yellow-400">Ayuda</a>
                    <a href="{% url 'suggestion' %}" class="hover:text-yellow-400">Buzón</a>
                    <a href="#" class="hover:text-yellow-400">Contáctanos</a>
                </div>
            </div>

            <div class="px-2">
                <span class="font-semibold text-base">Cuenta</span>
                <div class="flex flex-col pt-2 space-y-1">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' user.id %}" class="hover:text-yellow-400">Perfil</a>
                    <a href="{% url 'help_chat' %}" class="hover:text-yellow-400">Chat</a>
                    <form action="{% url 'logout' %}" method="post" class="block">
                        {% csrf_token %}
                        <button type="submit" class="text-white hover:text-yellow-500">
                            Cerrar Sesión
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="hover:text-yellow-400">Iniciar Sesión</a>
                    <a href="{% url 'signup' %}" class="hover:text-yellow-400">Registrarse</a>
                {% endif%}
                </div>
            </div>
        </div>

        
        <div class="text-sm text-gray-400 text-center pt-8" >
            © 2025 TakosuAnime.
        </div>
    </footer>

</body>
</html>